<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= data.page.title || "Responsive Email Process" %></title>

    <%= stylesheet_link_tag "all" %>
    </head>

    <body class="<%= page_classes %>">
        <header class="header">
            <nav>
                <h1>Responsive Email Process</h1>
                <ul>
                    <li><a href="#discovery">Discovery</a></li>
                    <li><a href="#contentStrategy">Content Strategy</a></li>
                    <li><a href="#design">Design</a></li>
                    <li><a href="#development">Development</a></li>
                    <li><a href="#execution">Execution</a></li>
                </ul>
            </nav>
        </header>
        <div class="main" role="main">
            <%= yield %>
        </div>
        <footer class="footer">
            <div>
                <h4>Responsive Email Process</h4>
            </div>
        </footer>

        <%= javascript_include_tag  "all" %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-40313943-1', 'github.io');
          ga('send', 'pageview');

        </script>
    </body>
</html>